<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "feed" %>
<% end %>
<div class="card bg-gray d-flex justify-content-between">
  <div class="">
    <img src="https://media.licdn.com/dms/image/v2/C4E03AQGXWfNH3QjcpQ/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1524646205005?e=2147483647&v=beta&t=0Uq0bSNZJbJbFQxHXEguQEM7h8J9NY39Y4t339-Nyhw" alt="">
  </div>
  <div class="">
    <p class="">Hieu Nguyen</p>
    <h3 class="fw-bold">Nam tempor posuere faucibus</h3>
    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisi risus, suscipit at accumsan ut, feugiat vel ante. Praesent auctor tristique purus a gravida. Nam non dignissim urna.</p>
  </div>
</div>
