.sessions-new {
  main h1 {
    color: #3d5a97;
  }

  main a {
    color: #3d5a97;
  }

  .login-logo {
    height: 50px;
    width: 50px;
    overflow: hidden;
  }

  .login-logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .login-form {
    background-color: #f9f9f9;
    padding: 20px;
    height: 300px;
  }

  .login-form form input[type="submit"] {
    background-color: #3d5a97;
    border: none;
    color: white;
    font-weight: bold;
  }
}
