<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <main class="">
        <div class="login-form rounded-3 d-flex flex-column align-items-center justify-content-around shadow-sm gap-2">
          <div class="user-logo">
            <img
              src="https://publisher.admicro.vn/dashboard/static/images/photo.png"
              alt=""
              class=""
/>
          </div>
          <form action="" class="d-flex flex-column align-items-center">
            <input
              type="email"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Email"
            />
            <input
              type="password"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Password"
            />
            <button class="rounded-2 mt-3 py-2 px-3" type="submit">Login</button>
          </form>
          <a href="#" class="text-decoration-none">Forgot password</a>
        </div>
    </main>
  </body>
</html>