.photos-feeds {
  .card {
    .follow-btn {
      background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 0%,
        rgba(253, 29, 29, 1) 0%,
        rgba(252, 176, 69, 1) 100%
      );

      border: none;
      color: #fff;
      font-size: 9px;
    }
    #user-name {
      font-size: 12px;
    }
    .photo-cover {
      object-fit: cover;
      min-height: 200px;
      cursor: pointer;
    }
    .photo-user-avatar {
      width: 25px;
      height: 25px;
      object-fit: cover;
    }
    .modal-photo {
      max-height: 80vh;
      object-fit: cover;
    }
  }
}
