default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000

development:
  <<: *default
  database: final_app_development
  username: rails_user
  password: 123123
  host: localhost

test:
  <<: *default
  database: final_app_test
  username: rails_user
  password: 123123
  host: localhost

production:
  <<: *default
  url: <%= ENV['DATABASE_URL'] %>

  cable:
    <<: *default
    url: <%= ENV['DATABASE_URL'] %>
