<div class="albums-feeds feeds-container">
  <div class="row g-4">
    <% if @albums.present? %>
      <% @albums.each do |album| %>
        <div class="col-12 col-md-6 ">
          <%= render 'albums/card', album: album %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Load More Button -->
  <% if @albums.present? && @has_more %>
    <div class="row mt-5">
      <div class="col-12 text-center">
        <%= link_to feeds_albums_path(page: (@current_page || 1) + 1), 
                    class: "btn btn-outline-primary px-4 py-2", 
                    id: "load-more-btn" do %>
          Load More
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<!--  animation -->
<div class="text-center py-4 d-none" id="loading-container">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
