<nav class="navbar navbar-expand-lg">
      <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex justify-content-end flex-grow-1">
          <a class="navbar-brand text-white fw-bold" href="#">Fotobook</a>
          <form class="search-bar d-flex w-75" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search Photo / Album"
              aria-label="Search / Album"
            />
          </form>
        </div>
        <a
          class="nav-link flex-grow-1 d-flex justify-content-center text-white fw-bold"
          href="">Login</a>
      </div>
    </nav>